
<div class="">
    <h1> Coupon Code: <%= @coupon.coupon_code %> | Used For | Store: <%= @coupon.store %> </h1>
</div>

<div class="">
    <%= link_to "Edit Coupon", edit_coupon_path %>
</div>

<div class="">
    <%= link_to "All Coupons", coupons_path %>
</div>
